[submodule "modules/larpix_readout_parser"]
	path = modules/larpix_readout_parser
	url = https://github.com/drinkingkazu/larpix_readout_parser
[submodule "modules/larnd2supera"]
	path = modules/larnd2supera
	url = https://github.com/DeepLearnPhysics/larnd2supera
[submodule "modules/SuperaAtomic"]
	path = modules/SuperaAtomic
	url = https://github.com/DeepLearnPhysics/SuperaAtomic
[submodule "modules/edep2supera"]
	path = modules/edep2supera
	url = https://github.com/DeepLearnPhysics/edep2supera
[submodule "modules/larnd-sim"]
	path = modules/larnd-sim
	url = https://github.com/drinkingkazu/larnd-sim
